In [1]:
import pandas as pd

In [2]:
csv_1 = pd.read_csv('debt.csv')
csv_1

    year  debt
0   1950    26
1   1951    25
2   1952    26
3   1953    24
4   1954    24
..   ...   ...
68  2018    44
69  2019    46
70  2020    55
71  2021    54
72  2022    55

[73 rows x 2 columns]

In [3]:
# now to grab index

In [4]:
csv_1.index

RangeIndex(start=0, stop=73, step=1)

In [5]:
# now to grab coloumn

In [7]:
csv_1.columns

Index(['year', 'debt'], dtype='object')

In [8]:
# now to get all the data

In [9]:
csv_1.describe()

              year       debt
count    73.000000  73.000000
mean   1986.000000  41.383562
std      21.217131   9.387684
min    1950.000000  23.000000
25%    1968.000000  36.000000
50%    1986.000000  43.000000
75%    2004.000000  48.000000
max    2022.000000  59.000000

In [10]:
#  now to get data from starting or last

In [11]:
csv_1.head()

   year  debt
0  1950    26
1  1951    25
2  1952    26
3  1953    24
4  1954    24

In [12]:
csv_1.head(2)

   year  debt
0  1950    26
1  1951    25

In [13]:
csv_1.tail()

    year  debt
68  2018    44
69  2019    46
70  2020    55
71  2021    54
72  2022    55

In [14]:
csv_1.tail(4)

    year  debt
69  2019    46
70  2020    55
71  2021    54
72  2022    55

In [16]:
# now if we want get particular  row data we can do by following

In [19]:
csv_1[:3]  # where 3 signifies we are getting three rows

   year  debt
0  1950    26
1  1951    25
2  1952    26

In [20]:
# to short data into descending order

In [23]:
csv_1.sort_index(axis=0,ascending=False) # axis =0 means row ko sort kr rhe hai

    year  debt
72  2022    55
71  2021    54
70  2020    55
69  2019    46
68  2018    44
..   ...   ...
4   1954    24
3   1953    24
2   1952    26
1   1951    25
0   1950    26

[73 rows x 2 columns]

In [24]:
# now to change data use csv_1[coloumn name][row number] = data

In [25]:
csv_1["year"][72] = 2023

In [26]:
csv_1

    year  debt
0   1950    26
1   1951    25
2   1952    26
3   1953    24
4   1954    24
..   ...   ...
68  2018    44
69  2019    46
70  2020    55
71  2021    54
72  2023    55

[73 rows x 2 columns]

In [27]:
# now we use loc mwthod to chnage data and get particular data

In [29]:
csv_1.loc[0,"year"] = 2025  # to change .loc[row,coloumn]=data

In [30]:
csv_1

    year  debt
0   2025    26
1   1951    25
2   1952    26
3   1953    24
4   1954    24
..   ...   ...
68  2018    44
69  2019    46
70  2020    55
71  2021    54
72  2023    55

[73 rows x 2 columns]

In [31]:
# now to get particular data

In [32]:
# data.loc[[rows],[coloums]]

In [33]:
csv_1.loc[[2,3]["year","debt"]]

<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\ASUS\AppData\Local\Temp\ipykernel_26728\1101178746.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  csv_1.loc[[2,3]["year","debt"]]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_26728\1101178746.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  csv_1.loc[[2,3]["year","debt"]]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_26728\1101178746.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  csv_1.loc[[2,3]["year","debt"]]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_26728\1101178746.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  csv_1.loc[[2,3]["year","debt"]]

TypeError: list indices must be integers or slices, not tuple

In [41]:
csv_1.loc[[2,3],:] # indicates all column but 2 and 3 row

   year  debt
2  1952    26
3  1953    24

In [43]:
csv_1.loc[:['year','debt']]

InvalidIndexError: ['year', 'debt']

In [46]:
csv_1.iloc[0,1]  # getting the value at first row and second column

26

In [47]:
csv_1

    year  debt
0   2025    26
1   1951    25
2   1952    26
3   1953    24
4   1954    24
..   ...   ...
68  2018    44
69  2019    46
70  2020    55
71  2021    54
72  2023    55

[73 rows x 2 columns]

In [48]:
csv_1.iloc[2,0]

1952